Customers
Thinks:
• How do I book a consultation?
• I hope this website is trustworthy 
• Is this actually helping me save energy?
• I just want to see my energy usage 
• I forgot my password again, what do I do now?
• Can I reschedule my consultation if my plans change?
• I don’t understand these carbon footprint numbers
• Why isn’t this page loading?
• I hope this is free and I don’t have to pay extra

Says:
• How do I book an installation?
• What happens to my data after I enter it?
• Can I cancel my consultation?
• Do I need to register to use the carbon footprint calculator?
• How do I reset my password?
• The accessibility feature doesn’t work
• I can’t log in,  can someone help?

Does:
• Makes an account
• Books a consultation or installation
• Enters energy usage data into the tracking and calculating tool
• Check previous consultation
• Updates settings in the profile
• Changes accessibility settings
• Logs in and out
• Cancels or reschedules a consultation/installation

Feels:
• Confused
• Relieved
• Interested
• Frustrated
• Overwhelmed
• Satisfied

Employees
Thinks:
• I hope there are enough slots for everyone to book
• Oh no, all the dates are taken again
• How do I check a user’s details?
• This calculator should be easier to use
• We need to update the policies and privacy to keep users informed
• Why the login page doesn’t work for this user?
• How do I reset my password?
• I need to check the most common issues users are facing

Says:
• The system is running slow right now, please bear with us
• Sorry, all consultations are fully booked for this week
• You can reset your password by clicking “Forgot Password” on login page
• You need to log in first to track your energy usage
• We are working on adding more accessibility features 
• You can update your details in your profile settings

Does:
• Helps customers with booking installation/consultation issues
• Logs into the admin panel to check users data
• Assists users with login/signup problems
o Updates terms and conditions page
o Adds more features to the accessibility panel
• Troubleshoots website issues

Feels:
• Stressed
• Responsible
• Proud
• Annoyed
• Tired
• Accomplished

Owner
Thinks:
• The website should load faster
• Should we add a referral program?
• I need to hire more consultants
• We should update the terms and conditions
• The carbon calculator needs to do calculation faster
• More people are signing up than I expected, that’s a good sign
• Why is the booking system slow today?

Says:
• Can you check why the site is running slow?
• I think we need a new feature to make consultations easier.
• Can we improve the carbon footprint calculator?
• I’ve written new terms,  please update them online.
• Let’s make sure customers data is secure
• Yes, we are hiring more consultants

Does:
• Reviews website performance
• Checks booking system 
• Writing new company’s policies
• Delegates tasks to employees
• Works with developers to optimise the website
• Hires more staff to handle all customer’s needs

Feels:
• Hopeful
• Proud
• Motivated
• Concerned
• Frustrated
• Optimistic
• Engaged
